<a href="https://colab.research.google.com/github/edutjie/Computer-Vision-Indonesia.AI/blob/main/Datavidia_ENV_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
DATASET_PATH = "/content/drive/MyDrive/Colab Notebooks/Datavidia: ENV/dataset"

In [5]:
df = pd.read_csv(f"{DATASET_PATH}/test.csv")
df.head()

   no  nama tanggal_lahir jenis_kelamin      gaji
0   1   ani      3/2/1993     perempuan   1000000
1   2  budi      3/1/1992     laki-laki   2000000
2   3  susi      4/5/2000     perempuan   1350000
3   4  wati     5/20/1995     perempuan  10000000
4   5   ati     4/23/1994     perempuan   3400000